body {

    color: rgb(19, 68, 25);
    background-color: hsl(258, 74%, 71%);
  }
 
 .tag {
     font-family: fantasy;
     font-size: medium;
    }  

 .jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
  }